<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Sandbox</title>
        {% else %}
        <title>Welcome to Sandbox</title>
        {% endif %}
    </head>
    <body>
        <div>
            Sandbox:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('viewscrape') }}">View scrape</a>
            <a href="{{ url_for('scrape') }}">Scrape 7stars</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>