<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Python Flask Demo App</title>
        {% else %}
        <title>Welcome to the demo app</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static',filename='datatables.min.css') }}" />
        <script type="text/javascript" language="javascript" src="{{ url_for('static',filename='jquery-3.6.0.min.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ url_for('static',filename='datatables.min.js') }}"></script>
        <script type="text/javascript" class="init">
        $(document).ready(function () {
    $('#example').DataTable();
});
	    </script>
    </head>
    <body>
        <div>Menu:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('employees') }}">Employees</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>